body {
    width: 700px;
    padding-top: 20px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.navbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
    border: 1px solid #e5e5e5;
}

/** @SK */
div.container {
    max-width: none;
}
.tab-content.main-content {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
}
#notification {
    border: 1px solid red;
    padding: 3px;
    margin-bottom: 10px;
}

table#priceTable tr td {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 12px;
}

table#priceTable tr.more td {
    background-color: #d39e00;
}
table#priceTable tr.less td {
    background-color: #1e7e34;
}
